binder_call(system_app, storaged)

dontaudit system_app {
  system_suspend_control_internal_service
  system_suspend_control_service
  tracingproxy_service
}:service_manager find;

hal_client_domain(system_app, hal_mlipay)
